.editTask{
    height: 80vh;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.formTitle{
    padding-block: 0;
}
.input{
    width: 88vw;
}
.buttons{
    margin:0;
    display:flex;
    justify-content:space-between;
    width: 88vw;
    padding-top:0;
}
.button{
    height: 35px;
}