.folder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.folderName{
    text-align: center;
    width: 80vw;
    font-size: 20px;
    color: #E1E3E6;

}

.taskTitle{
    font-size: 20px;
    color: #E1E3E6;
    font-weight: bold;

}
.folderImg{
    background-image: url("../img/folder.svg");
    background-color: white;
    background-position: 50% 50%;
    border-radius: 15px;
    padding: 5vh 4vw;
}

.folderButtons{
    display: flex;
    justify-content: space-between;
    width: 88vw;
    padding: 0;
    margin-top: 1vh;

}

.folderButton{
   height: 35px;
}