.profile {
    display: flex;
    flex-direction: column;
    width: 88vw;
    align-items: center;
    height: 85vh;
    margin: 0 auto;
}

.titletest {
    padding: 14px 0;

    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(118, 120, 122, 1);
}

.profile__name {
    margin-top: 12px;

    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.profile__username {
    margin-top: 4px;
    margin-bottom: 19px;
    color: rgba(150, 154, 159, 1);
}
.profile__stats {
    height: 126px;
    background: rgba(45, 45, 46, 1);
    width: 80%;
    border-radius: 12px;
    margin-top: 15px;
    padding: 15px 19px;

    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(105, 105, 105, 1);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile__signature {
    margin-top: 40vh;
}
@media screen and (max-width: 550px) {

    .profile__signature {
        margin-top: 75px;
    }
}