.tabsBottom{
    display: flex;
    position: fixed;
    bottom: 5vh;
    width: 100vw;
    padding: 0;
    justify-content: center;




}

.tabsBottomVisible{
    display: flex;
    width: 85vw;
    height: 8vh;
    padding: 0;
    background-color: #363738;
    border-radius: 15px;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-height: 600px) {
    .tabsBottom{
        display: none;
    }
}

